@import url('https://fonts.googleapis.com/css?family=poppins')
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "poppins",sans-serif;
}
body{
  background: url(https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png) no-repeat;
  backgound-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.form-box{
  position: relative;
  width: 400px;
  height: 550px;
  border: 2px solid rgba(255,255,2550.5)
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}
  
