@import url('https://fonts.googleapis.com/css?family=poppins')
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "poppins",sans-serif;
}
body{
  background: url(https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png)
  backgound-position: center;
  background-size: cover;
}
